* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #F47C7C;
}

.navbar h1 {
    color: #FFF2F2;
    font-size: 3rem;
}

.main {
    min-height: 85vh;
    height: 100%;
    background-color: #FAD4D4;
}

.card__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    margin-top: 10vh;
    height: 30rem;
    width: 16rem;
    background-color: #EF9F9F;
    border-radius: 4px;
    color: #FFF2F2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card h4 {
    font-size: 2rem;
}

.card h5 {
    font-size: 1.5rem;
}

.read__btn {
    background: #fff;
    height: 2rem;
    width: 85%;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: BLACK;
    padding: 0.5rem;
}

.delete__btn {
    background-color: #EB5353;
    color: white;
}

.read__btn:hover {
    cursor: pointer;
}

.btn__add {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #F47C7C;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.form__container {
    display: flex;
    justify-content: center;

}

#form {
    background-color: #EF9F9F;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    width: 25rem;
    height: 25rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: #FFF2F2;
}

.btn__close {
    font-size: 1.25rem;
    font-weight: bolder;
    cursor: pointer;
}

.form__container input {
    background-color: #FAD4D4;
    border: none;
    text-align: center;
}

.form__container label {
    color: #FFF2F2;
    font-weight: bold;
    font-size: 1.8rem;
}

.input__container {
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 480px) {
    #form {
        width: 80%;
    }
}